<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About Me</h1>
    </div>
  </div>
  <hr>
  <hr>
  <hr>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <%= image_tag "Untitled-3.png", width:300, height:280, alt: "profile image" %>
    </div>
    <div class="col-md-7">
      <p>Adipisicing vitae quibusdam delectus magni ipsa autem Similique quo cum quos porro quis Deserunt nesciunt tenetur odit pariatur quibusdam Reiciendis culpa quidem eius dolores quam Consequatur debitis earum excepturi laudantium ut. Rerum nulla tempore reprehenderit ipsa neque Earum corporis distinctio tempore ullam qui Debitis modi soluta culpa dolore id Quisquam?</p>
      <p>Elit beatae explicabo deleniti similique sit At eaque nisi ratione adipisicing optio Soluta ab id numquam tempore voluptates consectetur unde ex Sit illo inventore blanditiis id esse dolorem! Voluptate veritatis quos libero sequi beatae tempore Nemo iure porro alias laboriosam voluptatibus? Quis esse sequi iste maiores voluptas! Quas aliquam nostrum?</p>
    </div>
  </div>
</div>
